body{
    background-color: rgb(253, 230, 200);
}


.box {
    background-color: rgb(253, 221, 179);
    border-radius: 15px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);;
}

.input-1{
    padding: 5px 0;
}



@media only screen and (max-width: 768px){
    .list{
        flex-direction: column;
    }

    .desc{
        margin-bottom: 10px !important;
    }
    .input-1{
        margin-bottom: 10px !important;
    }
}